#kontaktModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333333;
    height: 450px;
    width: 400px;
    border-radius: 20px;
    display: none;
    z-index: 9999;
}

#kontaktModal.open {
    display: block;
}

#closeModal {
    position: absolute;
    right: 0;
    color: white;
    padding: 20px;
    font-size: 1.6rem;
    cursor: pointer;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

form input {
    border: 0.5px solid white;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 10px;
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
}

form input:current {
    border: none;
}

input[type=submit] {
    border: none;
    background-color: #1085df;
}

input[type=submit]:hover {
    border: none;
    background-color: #0e5a94;
    cursor: pointer;
}

input[type=reset] {
    border: none;
    background-color: white;
}

input[type=reset]:hover {
    border: none;
    background-color: rgb(177, 177, 177);
    cursor: pointer;
}